# =============== Unity generated folders ===============
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
MemoryCaptures/

# Optional user-specific settings
UserSettings/

# =============== Build results ===============
[Bb]uild/
[Bb]uilds/

# =============== IDE / OS ===============
.vs/
.idea/
*.csproj
*.sln
*.slnx
*.user
*.pidb
*.booproj
*.svd

# Mac / Linux / Windows junk
.DS_Store
Thumbs.db

# =============== Unity meta handling ===============
# (meta files MUST be committed)
!/[Aa]ssets/**/*.meta
